variables:
  PRODUCT_NAME: lizmap_server

stages:
- lint
- test
- build
- deploy
- release



# ------------
# Lint
# ------------
lint:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-release
  tags:
    - factory-plain
  stage: lint
  script:
    - make lint

# ------------
# Tests
# ------------

.tests:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-${QGIS_FLAVOR}
  tags:
    - factory-plain
  stage: test
  script:
    - make test

qgis-server:
  extends: .tests
  parallel:
    matrix:
      - QGIS_FLAVOR: [
        "3.34",
        "3.40",
        "3.44",
        "nightly-release",
      ]


# NOTE: Following jobs are triggered only on RELEASE_BRANCH == "true"

# 
# Packages 
#



version:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  tags:
    - factory-plain
  rules:
    - if: $RELEASE_BRANCH == "true"
  stage: build
  script:
    - version-helper > build.env
  artifacts:
    reports:
      dotenv: build.env


build:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  tags:
    - factory-plain
  rules:
    - if: $RELEASE_BRANCH == "true"
  dependencies:
    - version
  stage: build
  script:
      - qgis-plugin-ci package ${VERSION}
  artifacts:
    untracked: true
    expose_as: 'QGIS package'
    paths:
      - ${PRODUCT_NAME}.${VERSION}.zip


deploy:
  image: $REGISTRY_URI/factory-ci-runner:fabric-ci
  tags:
    - fabric
  rules:
    - if: $RELEASE_BRANCH == "true"
  stage: deploy 
  dependencies:
    - version
    - build
  script:
    - upload_plugins ${PRODUCT_NAME} ${PRODUCT_NAME}.${VERSION}.zip ${STATUS}
    - update-snap-qgis-plugins


#
# Release
#

# XXX Deprecate ci-tools and adapts scripts to qgis-plugin-ci runner

release:
  image:
    name: $REGISTRY_URI/infra/ci-tools:latest
  tags:
    - factory-plain
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG =~ ^(?:release-)?\d+\.\d+\.\d+(?:-.*)?$ && $RELEASE_BRANCH == "true"'
  script:
    - create_ticket.py
    - gitlab_release

