# IDE
.idea/
.vscode/

# Python
.venv/
venv/

.local
.cache
.pytest_cache
__output__
__pycache__

.docker-venv-*

*.qgz

# QGIS-Plugin-CI
lizmap_server.*.zip
plugins.xml

test/data/*.gpkg-shm
test/data/*.gpkg-wal
test/data/*.qgs~
test/data/*.qgz~
test/data/*_attachments.zip
test/data/*.asc.aux.xml

.activate
.bash_aliases
