*.orig
*.rej
*~
*.o
*.swp
*.pyc
*.DS_Store

lizmap.cfg

# IDE
.idea/
.vscode/

*.egg-info
*.code-workspace

# Python
.venv/

build/
build2/
dist/

.local
.cache
.pytest_cache
__output__

*.qgz

# QGIS-Plugin-CI
lizmap_server.*.zip
plugins.xml

unittest.qgs
lizmap/test/data/*.gpkg-shm
lizmap/test/data/*.gpkg-wal
test/server/data/*.gpkg-shm
test/server/data/*.gpkg-wal
lizmap/test/data/lizmap_3_3.qgs.cfg.back
