name: Release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: Execute dry run
        required: true
        type: boolean
        default: false

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  release-dry-run:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == '3liz' && inputs.tag && inputs.tag == 'dry-run' }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: x64
          cache: "pip"
          cache-dependency-path: "requirements/packaging.txt"

      - name: Set env
        run: echo "RELEASE_VERSION=`qgis-plugin-ci meta -r version`" >> $GITHUB_ENV

      - name: Install QGIS Plugin CI
        run: pip install --quiet -r requirements/packaging.txt
      
      - name: Fetch current changelog
        run: |
          qgis-plugin-ci changelog ${{ env.RELEASE_VERSION }} >> release.md
          cat release.md

      - name: Package and deploy the zip
        run: >
          qgis-plugin-ci -vv
          release "${{ env.RELEASE_VERSION }}"
          --github-token "${{ secrets.BOT_HUB_TOKEN }}"
          --osgeo-username "${{ secrets.OSGEO_USERNAME }}"
          --osgeo-password "${{ secrets.OSGEO_PASSWORD }}"
          --dry-run

  release:
    needs: [tests]

    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == '3liz' && contains(github.ref, 'refs/tags/') && inputs.tag && inputs.tag != 'dry-run' }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: x64
          cache: "pip"
          cache-dependency-path: "requirements/packaging.txt"

      - name: Set env
        run: echo "RELEASE_VERSION=`qgis-plugin-ci meta -r version`" >> $GITHUB_ENV

      - name: Install QGIS Plugin CI
        run: pip install --quiet -r requirements/packaging.txt

      - name: Fetch current changelog
        run: qgis-plugin-ci changelog ${{ env.RELEASE_VERSION }} >> release.md

      - name: Create release on GitHub
        uses: ncipollo/release-action@v1.20.0
        with:
          bodyFile: release.md
          token: ${{ secrets.BOT_HUB_TOKEN }}

      - name: Package and deploy the zip
        run: >
          qgis-plugin-ci
          release ${{ env.RELEASE_VERSION }}
          --github-token "${{ secrets.BOT_HUB_TOKEN }}"
          --osgeo-username "${{ secrets.OSGEO_USERNAME }}"
          --osgeo-password "${{ secrets.OSGEO_PASSWORD }}"
          --create-plugin-repo
      
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.BOT_HUB_TOKEN }}
          repository: 3liz/3liz.github.io
          event-type: merge-plugins
          client-payload: '{"name": "lizmap_server", "version": "${{ env.RELEASE_VERSION }}", "url": "https://github.com/3liz/qgis-lizmap-server-plugin/releases/latest/download/plugins.xml"}'
